<h4>Database</h4>
<form method="post" action="/search/admin_filter">
    <div class="form-group">
        <label class="checkbox-inline"><input type="checkbox" value="student" name="filter">Student</label>
        <label class="checkbox-inline"><input type="checkbox" value="business" name="filter">Business</label>
        <label class="checkbox-inline"><input type="checkbox" value="admin" name="filter">Admin</label>
        <button type="submit" class="btn btn-default">Submit</button>
    </div>
</form>
<div class="list-group"> <!--Data being dropped -->
    {{#each users}}
        <form method="post" action="/search/admin_filter">
        <div class="form-group">
            <button type="submit" class="btn btn-default">
                <a class="list-group-item">
                    Email: {{contact_info.email}}<br>
                    Account Type: {{account_type}}<br>
                    Location: {{about}}
                </a>
            </button>
        </div>
</form>
    {{/each}}
</div>