<section style="margin-top: 15px">
	<h1>Welcome to SRVHIT</h1>
	<p>The Sacramento Region Virtual Hub for Innocation Talent is a match-making netwoork for regional startup and innocation businesses seeking student talent.</p>
	<p>
	Proin sit amet elit faucibus augue vehicula eleifend quis sit amet ante. Vivamus sit amet efficitur nibh. Ut sed posuere sapien. Donec scelerisque leo a viverra porttitor. Nulla sed sodales nibh. Nam laoreet arcu et nisi consectetur volutpat. Mauris at cursus tellus, eget finibus sapien. Interdum et malesuada fames ac ante ipsum primis in faucibus. Mauris sed justo non nisi tempor dapibus. Quisque luctus eros eu scelerisque venenatis. Duis consequat, leo et luctus dictum, dui risus elementum sem, a finibus quam sapien sit amet enim. Aliquam rhoncus pretium fringilla. In hac habitasse platea dictumst. Mauris gravida tincidunt justo id pharetra.
	</p><p>
	Nulla sem lorem, interdum a semper id, tempor eu magna. Sed auctor varius mollis. Maecenas auctor pulvinar est at maximus. Aenean rutrum lorem non diam elementum, ac volutpat neque convallis. Donec dapibus nisi eu nisi mattis maximus. Praesent nisi tortor, pretium a interdum in, aliquam eget nisi. Phasellus dictum sapien a nibh convallis, vel pharetra lectus luctus. Praesent a fermentum tortor. Aliquam nulla mi, porttitor in turpis sed, commodo congue arcu. Proin id turpis urna. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Suspendisse potenti. Nunc sit amet nulla efficitur augue venenatis maximus. Vivamus tempor felis ipsum, vel mattis arcu pellentesque vel. In viverra odio id mi tristique, nec fringilla massa aliquam.</p>
	<div style="margin-top:30px;text-align:center;">
		<span style="border-radius: 10px;background: #dbdbdb;display: flex;width: 250px;height: 60px;align-items: center;justify-content:center;font-size: 125%;margin:auto;cursor:pointer">Get Started</span>
		</div>
</section>