<section style="margin-top: 15px">
	<h1>Welcome to SRVHIT</h1>
	<p>The Sacramento Region Virtual Hub for Innocation Talent is a match-making netwoork for regional startup and innocation businesses seeking student talent.</p>
	
	<div style="margin-top:30px;display: flex;flex-direction: row;justify-content: space-around">
		<span class="button" id="businessbtn">Business</span>
		<span class="button" id="studentbtn">Student</span>
	</div>
	<script>
		$('#businessbtn').click(function () {
			redirect('/business/register_business');
		});
		$('#studentbtn').click(function () {
			redirect('/student/register_student');
		});
	</script>
</section>