<section style="margin-top: 15px">
	<h1>Welcome to SRVHIT</h1>
	<p>The Sacramento Region Virtual Hub for Innocation Talent is a match-making netwoork for regional startup and innovation, venture capital, and entrepreneurial opportunity. The presence of numerous government agencies, major research universities, Venture capital groups, several major health systems, significant tech infrastructure, and business incubation programs in close proximity to one another has feuled startup business growth. As is the case in other centers for innovation, Sacramento startups often struggle to find the particular match of talents and interests they need to grow a company while students hoping to work at a new entrepreneurial venture can have difficulty discovering companies that are too new to be "visible".</p>
	<p>SRVHIT narrows the focus of job and internship matching between the tens of thousands of recent undergraduate and graduate students and hundreds of thousands of job listings in northern California so that innovation focused students and businesses can find each other.</p>
	
	<div style="margin-top:30px;display: flex;flex-direction: row;justify-content: space-around">
		<span class="button" id="businessbtn">Business</span>
		<span class="button" id="studentbtn">Student</span>
	</div>
	<script>
		$('#businessbtn').click(function () {
			redirect('/business/register_business');
		});
		$('#studentbtn').click(function () {
			redirect('/student/register_student');
		});
	</script>
</section>
