<section style="margin-top: 15px">
	<h1>Welcome to SRVHIT</h1>
	<p>The Sacramento Region Virtual Hub for Innocation Talent is a match-making netwoork for regional startup and innocation businesses seeking student talent.</p>
	<p>
	The Sacramento Region is a rapidly growing center for innovation, venture capital, and entrepreneurial opportunity. The presence of numerous government agencies, major research universities, Venture capital groups, several major health systems, significant tech infrastructure, and business incubation programs in close proximity to one another has fueled startup business growth. As is the case in other centers for innovation, Sacramento startups often struggle to find the particular match of talens and interests they need to grow a company while students hoping to work at a new entrepreneurial venture can have difficulty discovering companies that are too new to be "visible".
	</p><p>
	SRVHIT narrows the focus of job and internship matching between the tens of thousands of recent undergraduate and graduate students and hundreds of thousands of job listings in northern Califronia so that innovation focused students and businesses can find each other.</p>
	<div style="margin-top:30px;text-align:center;">
		<span style="border-radius: 10px;background: #dbdbdb;display: flex;width: 250px;height: 60px;align-items: center;justify-content:center;font-size: 125%;margin:auto;cursor:pointer">Get Started</span>
		</div>
</section>