
{{#if errors}}
    {{#each errors}}
        <div class="alert alert-danger">
            <i class="icon-remove-sign icon-large"></i> {{msg}}
            <a href="#close" class="icon-remove"></a>
        </div>
    {{/each}}
{{/if}}
<div class="centered-form">
<h2 class="page-header">Register</h2>
	<div class="flex-row">
	<div>
		<div class="panel panel-default">
		  <div class="panel-body div-button" id="business">Business</div>
		</div>
		</div>
		<div class="panel panel-default">
		  <div class="panel-body div-button" id="student">Student</div>
		</div>
	</div>
	
	<script>
		$('#student').click(function () {
			window.location.href = '/student/register_student';
		});
		$('#business').click(function () {
			window.location.href = '/business/register_business';
		});
		</script>
</div>