@font-face {
    font-family: 'gothic';
    src: url('franklingothic-demi-webfont.woff2') format('woff2'),
         url('franklingothic-demi-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


*, *::after, *::before {
	box-sizing: border-box;
}

*{
  margin: 0;
  padding:0;
}

/* Space out content a bit */
body{
  padding-top: 20px;
  padding-bottom: 20px;
  height: 100vh;
  position: relative;
  opacity: 0;
  

}

a {
	color: #043927;
}

.nav-pills > li.active > a {
	background: #00573d
}

.nav-pills > li.active > a:hover {
	background: #197056
}



/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-right: 15px;
  padding-left: 15px;
}

/* Custom page header */
.header {
  padding-bottom: 20px;
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 10px;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
}

.centered-form {
	max-width: 700px;
	width: calc(100% - 20px);
	margin: auto;
}

.flex-row {
	display:flex;
	flex-direction: row;
}

.flex-row > div:last-child{
	width: calc(50% - 10px);
}

.flex-row > div:first-child{
	width: calc(50% + 10px);
	padding-right: 20px;
}

.div-button {
	text-align: center;
	cursor: pointer;
}

.div-button::after {
	display: block;
	
	height: 100%;
	width: 100%;
	box-shadow: 0 5px 15px rgba(0,0,0,1);
	opacity: 0;
	transition: opacity 0.3s ease-in-out;
}

.div-button:hover::after {
    opacity: 1;
}

.page-content {
	height: calc(100% - 111px)!important;
	overflow: auto;
}

.container {
	height: 100%;
	position: relative;
}

.info-panel {
	width: 300px;
	background: rgba(88,185,71, 0.2);
	padding: 10px;
}

.info-panel h2 {
	margin: 0;
}

.content-panel {
	padding: 10px;
	flex-grow: 1;
	margin-bottom:30px;
	width: calc(100% - 300px);
}

.content-panel section {
	padding: 10px;
	margin-bottom: 30px;
}

.content-panel section textarea {
	width: 100%;
	height: 80px;
	resize: none;
	border: 1px solid #ccc;
	border-radius: 4px;
}

.content-panel section h3 {
	margin: 0;
	margin-bottom: 7px
}

.indent {
	margin-left: 20px;
}

.container {
	position: relative;
}

.header {
	position: fixed;
	top: 0;
	height: auto!important;
	z-index: 900;
	background: #fff;
	padding-top: 20px;
}

footer {
	position: fixed!important;
	bottom: 0;
	height: auto!important;
	z-index: 900;
}

.content-container {
	margin-top: 91px;
	margin-bottom: 31px;
	height: calc(100% - 102px);
}

span.button {
	border-radius: 10px;
	background: #dbdbdb;
	display: flex;
	width: 250px;
	height: 60px;
	align-items: center;
	justify-content:center;
	font-size: 125%;
	margin:auto;
	cursor:pointer
}

.info.container {
	position: fixed;
	top: 91px;
	pointer-events: none;
	padding: 0;
}

.info-panel {
	height: 100%;
	pointer-events: all;
}

.content-panel {
	margin-left: 300px;
}

.gothic {
	font-family: "gothic";
	font-weight: bold
}

.navbar-brand.gothic {
	font-size: 2.5rem	
}


/************Search cards*********/


div.all-cards{
width: 100%!important;
display: flex;
flex-direction: row;
flex-wrap:wrap;/*
-webkit-column-count: 2; /* Chrome, Safari, Opera
-moz-column-count: 2; /* Firefox
column-count: 2;
-webkit-column-break-inside: avoid;
page-break-inside: avoid;
break-inside: avoid;
break-inside: avoid-column;
-webkit-column-break-inside: avoid;

-webkit-column-gap: 40px;*/
}

div.favorites {
	width: 33.3333%!important;
	padding: 10px;
	background: rgba(88,185,71,0.2);
	
}

a.uiCard{
margin: 0;
background-color: lightgrey;
min-height: 0;
background: #fff;
border-radius: .28571429rem;
overflow: hidden;
display: inline-block;
width: calc(50% - 10px);
height: 235px!important;
margin-bottom: 30px;
text-decoration: none;
}

a.uiCard:nth-child(2n) {
  flex-grow: 1;
  width: calc(50% + 10px);
  padding-left: 20px;
}

div.cardHeader{
margin: 0;
margin-bottom: 10px;
}
a.uiCard .content{
 -webkit-box-flex: 1;
 -ms-flex-positive: 1;
 flex-grow: 1;
 padding: 1em 1em;
 box-shadow: none;
 font-size: 1em;
 height:230px;
 width: 100%;/*320px;*/
 border: 1px solid #dbdbdb;
 border-width: thin;
 border-color: inherit;
 border-radius: .25em;
 box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
 left: 30px;
 border-color: #dbdbdb!important;
}


a.uiCard .content:hover{
  background-color: #eee;
  text-decoration: none;
}

.studentImage{
 height:60px;
 width:60px;
 margin-right: 10px;

}
.head_right{
display: inline-block;
margin-left: 20px;

}
.head_right img{
margin: 0;
}

a.bookmark {
	padding: 5px;
	background: #fff;
	display: block;
	margin-bottom: 5px;
	border-radius: 4px;
	border: 1px solid #dbdbdb;
 box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
 position: relative;
 padding-right: 20px;
}

a.bookmark .star {
	position: absolute;
	top: 2px;
	right: 2px;
	height: 20px;
	width: 20px;
}

a.bookmark:hover {
	text-decoration: none;
	background: #eee;
}


/***************END CARDS*************/


/*search bar*/
input[type=text], select {
    width: 45%;
    padding: 4px 10px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;

}

.uiButton {
    width: 17.5%;
    background-color: #green;
    height: 46px;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    display: inline-block;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
    float: right;

}
.uiButton :hover {
    background-color: #45a049;
}

.uiDropdown, select{
  height: 46px;
  padding: 14px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  width: 18%;
  border: 1px solid rgba(34,36,38,.15);
    border-radius: .28571429rem;
    -webkit-transition: box-shadow .1s ease,width .1s ease;
    transition: box-shadow .1s ease,width .1s ease;
}


/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  padding: 14px 24px;
  font-size: 21px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

.page-header {
  margin-top: 0;
}

footer {
  margin-top: 20px;
  height: 20px;
  color: #777;
  border-top: 1px solid #e5e5e5;
  bottom: 0;
  width: 100%;
  background: white;
  position: absolute;
	height: 20px;
	bottom: 0;
}
footer p{
    text-align: center;
}



/**********    Splash Styles  ***********/

.splash-overlay {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(0,0,0,0.3);
	display: none;
	opacity: 0;
	z-index: 999;
	align-items: center;
	justify-content: center;
	
	-webkit-transition: opacity 0.5s; /* Safari */
    transition: opacity 0.5s;
}

.splash-container {
	max-width: 400px;
	width: calc(100% - 30px);
	border-radius: 10px;
	background: #dbdbdb;
	padding: 20px;
	margin-bottom: 0;
	overflow: hidden;
	position: relative;
}

.splash-container h1 {
	margin: auto;
	padding: 0;
	margin-top: 0;
}

.splash-container form {
	width: 100%;
}

.splash-container input {
	width: 100%;
	margin-top: 0;
    padding: 12px 20px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.splash-container input[type=submit] {
	width: 50%;
	padding: 5px 20px;
	background: #ebebeb;
	display: block;
	margin: 10px auto 0 auto;
}




/********  Form Styling   ********/

.centered-form input[type=text], select {
    width: 100%;
    margin: 0;
    display:block;
}

.centered-form [type=submit] {
	margin: auto;
	display: block;
	background: #ebebeb;
	width: 140px;
	margin-top:40px;
}

.content-panel input[type=text] {
    width: 100%;
    margin: 0;
    display:block;
}

.address-block {
	border: 1px solid #ccc;
	border-radius: 4px;
}

.address-block input {
	margin: 0!important;
	width: auto;
	border-radius: 0;
}

.address-block [placeholder="Street"] {
	border: none;
	width: 100%;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}

.address-block [placeholder="City"] {
	border-bottom: none;
	border-left: none;
	border-top: 1px solid #ebebeb;
	border-right: 1px solid #ebebeb;
	width: 55%;
	border-bottom-left-radius: 4px;
}

.address-block [placeholder="State"] {
	border-bottom: none;
	border-left: none;
	border-top: 1px solid #ebebeb;
	border-right: 1px solid #ebebeb;
}

.address-block [placeholder="Zip"] {
	border-bottom: none;
	border-left: none;
	border-right: none;
	border-top: 1px solid #ebebeb;
	border-bottom-right-radius: 4px;
}
