{{#if errors}}
    {{#each errors}}
        <div class="alert alert-danger">
            <i class="icon-remove-sign icon-large"></i> {{msg}}
            <a href="#close" class="icon-remove"></a>
        </div>
    {{/each}}
{{/if}}
<form method="post" action="/business/register_business" class="centered-form">
<h2 class="page-header">Register</h2>
	<div class="form-group">
		<div class="flex-row">
			<div>
				<label>Company Name</label>
				<input type="text" class="form-control" name="username" />
			</div>
		</div>
	</div>
    <!-- contact info -->
    <div class="form-group">
		<div class="flex-row">
			<div>
				<label>Email</label>
				<input type="text" class="form-control" placeholder="email" name="email">
			</div>
			<div>
				<label>Phone</label>
				<input type="text" class="form-control" placeholder="phone" name="phone">
			</div>
		</div>
    </div>
    <div class="form-group">
        <label>Website (Optional)</label>
        <input type="text" class="form-control" placeholder="Website Link" name="website1">
    </div>
    <div class="form-group">
        <label>Preferred Method</label><br>
        <input type="radio" name="preference" value="Email" checked> Email<br>
        <input type="radio" name="preference" value="Phone"> Phone<br>
    </div>
    <!-- address-line input-->
    <div class="form-group">
        <label class="control-label">Address</label>
		<div class="address-block">
			<div class="flex-row">
				<input type="text" name="address" placeholder="Street" />
			</div>
			<div class="flex-row">
				<input type="text" name="city" placeholder="City" style="flex-grow:1" />
				<input type="text" name="state" placeholder="State" maxlength="2" style="width: 15%;flex-grow:1" />
				<input type="text" name="zipcode" placeholder="Zip" maxlength="5" style="width: 30%;flex-grow:1" />
			</div>
		</div>

        <!--<div class="controls">
            <input id="address" name="address" type="text" placeholder="address line" class="form-control">
            <p class="help-block">Street address, P.O. box, company name, Apartment, suite , unit, building, floor, etc.</p>
        </div>
    </div>
    <!-- city input
    <div class="form-group">
        <label class="control-label">City / Town</label>
        <div class="controls">
            <input id="city" name="city" type="text" placeholder="city" class="form-control">
            <p class="help-block"></p>
        </div>
    </div>
    <!-- postal-code input
    <div class="form-group">
        <label class="control-label">Zip / Postal Code</label>
        <div class="controls">
            <input id="postal-code" name="postalcode" type="text" placeholder="zip or postal code" class="form-control">
            <p class="help-block"></p>
        </div>-->
    </div>
    <!-- industry input-->
    <div class="form-group">
		<div class="flex-row">
			<div>
				<label class="control-label">Industry</label>
				<div class="controls">
					<input id="industry" name="industry" type="text" placeholder="industry" class="form-control">
					<p class="help-block"></p>
				</div>
			</div>
			<div>
				<label class="control-label">Company Size</label>
				<div class="controls">
					<input id="size" name="size" type="number" placeholder="number of employees" class="form-control" min="1">
					<p class="help-block"></p>
				</div>
			</div>
		</div>
    </div>
    <div class="form-group">
		<div class="flex-row">
			<div>
				<label>Password</label>
				<input type="password" class="form-control" placeholder="Password" name="password">
			</div>
			<div>
				<label>Confirm Password</label>
				<input type="password" class="form-control" placeholder="Password" name="password2">
			</div>
		</div>
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
</form>