<form method="post" action="/search/students">
    <div class="form-group">
        <input type="text" class="form-control" placeholder="Search" name="query">
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
</form>
{{#each users}}
    <li class="list-group-item">
        Username: {{username}}<br>
        Email: {{contact_info.email}}<br>
        Account Type: {{account_type}}
    </li>
{{/each}}