{{user}}
<form method="post" action="/student/dashboard">
    <div class="form-group">
        <label for="tags">Tags:</label>
        <input type="text" class="form-control" id="tags" name="tags">
    </div>
</form>