<form class="login-form" id="login" method="POST" action="/services/send_password">
	<label for="username">Email:</label>
	<input name="email" id="username" type="text" />
    <button type="submit">Retrieve Password</button>
</form>