{{#if errors}}
    {{#each errors}}
        <div class="alert alert-danger">
            <i class="icon-remove-sign icon-large"></i> {{msg}}
            <a href="#close" class="icon-remove"></a>
        </div>
    {{/each}}
{{/if}}
<form method="POST" action="/services/reset_password/{{email}}">
    {{email}}<br>
    <label for="username">New Password:</label>
    <input type="password" name="password1"/>
    <label for="pass">Confirm Password:</label>
    <input type="password" name="password2" />
    <button type="submit"/>Save</button>
</form>